/*Modifique todas las palabras que tienen la class="resaltar"*/
.resaltar {
    color: $color-second;
}

/*HEADER*/
.header {
    font-family: $font-main;
    background-color: #6f9ac7;
    font-size: 32px;
}

/*Tomamos las el nav y las listas*/
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        /*me va a centrar mis items*/
        padding: 10px;
        width: 100%;
        height: 100%;
    }

    .headerLinks {
        color: $color-main;
        transition: 0.5s;
    }
        
    .headerLinks:hover {
        transform: scale(1, 1.05);
        color: #fffee1;
    }
    
