.seccion3 {
    background-image: linear-gradient(rgba(241, 250, 255, 0.933), #454580);
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    /*me da el poder de modificar las cartas*/
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;

    .productosDestacados {
        background-color: #f1faffee;
        width: 25%;
        min-height: 300px;
        font-family: bebas;
        font-size: 25px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;

        

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }

        .descripcionDestacada {
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        a {
            color: #131212ee;
            background-color: #aa3c3cee;
            width: 100px;
            padding: 10px;
            align-self: flex-end;
            text-align: center;
        }
    }

    :hover {
        background: #449e9e;
        transform: scale(1, 1.05);
    }

}

