/*ARANCAMOS CON LA PAGINA CONTACTOS*/

/*INICIO CONTACTO*/
.contacto {
    background-image: url(../assets/fondoSeccion.jpg);
    font-family: $font-main;
    @include background (center, no-repeat);
    background-size: cover;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;

    @include tamanio (100%,90vh);

    .tituloContacto {
        font-size: 60px;
        padding: 245px 50px;
    }
}

/*FORMULARIO Y IMG*/

.formulario {
    background-color: #a83232ee;
    color: #ffff;
    gap: 10px; 
    padding: 10px; 
    width: 50%; 
    border-radius: 5px; 

    .formularioContenedor { 
        @include flex (flex, column);
        gap: 5px;
        font-family: $font-main;
        font-size: 20px;
    
        .formularioContenedor input { 
            padding: 10px;
            font-family: $font-main;
            border-radius: 5px;
        }
        
        .formularioContenedor textarea { 
            resize: none; 
        }
    }


}

.formularios { 
    background-color: $color-main;
    @include flex (flex, row-reverse);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

    .formularios img {
        padding: 20px;
        object-fit: cover;

        @include tamanio (50%,100%);
    }
}


/*Ubicacion*/ 

.ubicacion {
    font-family: $font-main;
    background-image: linear-gradient( rgb(69, 69, 128), rgba(190, 37, 170, 0.933));
    @include margen (25px, 10px);
    color: #fff;
    @include flex (flex, column);
    width: 95%;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .ubicacion iframe  {
        width: 70%; 
    }
    
    .ubicacion h2 {
        font-size: 32px;
    }
    
    .ubicacion p {
        font-size: 25px;
    }
}
